#about {
  // height: 22.5rem;
  // display: flex;
  // // justify-content: space-evenly;
  // // flex-direction: column;
  color: $color-dark-gray;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: $py0 15%;
  text-align: center;
}