// FONTS
// Quicksand
// Merriweather

// COLORS
$color-yellow: #fdfaa2;
$color-light-blue : #5f7ea2;
$color-dark-blue : #042347;

$color-light-gray: #dddddd;
$color-dark-gray: #020202;

// Padding
$py0: 5rem;
$py1: 3rem;
$py2: 2rem;

// Fonts
$fs1: 2.5rem;